$hover-color: #2196f3;
$primalcolor: #2196f3;
$we-du-list__font-family: 'Robobto', sans-serif;
$team-list__font-family: 'Robobto', sans-serif;
$advantages-list__font-family: 'Robobto', sans-serif;
$nav-list__font-family: 'Robobto', sans-serif;
$icon-color: #afb1b8;
