.we-du-list {
  display: flex;
  column-gap: 30px;
  padding-bottom: 94px;
}

.we-du-list__item {
  position: relative;
}

.we-du-list__text {
  position: absolute;
  font-family: $we-du-list__font-family;
  bottom: 4px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding-top: 27px;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.color-section {
  background: #f5f4fa;
}
